@model IEnumerable<Car_Rental_Project.Models.Cars.ListCarModels>


<h2 class="text-center mt-60">Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center"> No Cars Available!</h2>
}

@using (Html.BeginForm("All", "Cars", FormMethod.Get))
{
    if (Request.QueryString["user"] != null)
    {
        @Html.Hidden("user",Request.QueryString["user"])
    }

    <div class="text-center">
        <input type="text" class="form-control " name="Search" style="display:inline-block" value="@Request.QueryString["search"]" />
        <input type="submit" value="Search" class="btn btn-default">
    </div>
}



@foreach (var car in Model)
{
    <div class="row mt-60">
        <div class="col-md-6">
            <img src="@car.ImageUrl" class="img-responsive" @(car.IsRented ? "style=opacity:0.3" : string.Empty) />
        </div>
        <div class="col-md-6">
            <h2>@car.Make @car.Model - @car.Year</h2>
            <h3>@car.DailyPrice BGN per day</h3>
            <a href="/Cars/Details/@car.Id" class="btn @(car.IsRented? "btn-default" : "btn-primary")">@(car.IsRented ? "This car in not available" : "More Details")</a>
        </div>
    </div>
}

@{
    string currentUser = Request.QueryString["user"];
    string currentSearch = Request.QueryString["search"];
    string currentUserQuerie = currentUser != null ? "&user=" + currentUser : string.Empty;
    string currentSearchQuerie = currentSearch != null ? "&search=" + currentSearch : string.Empty;

}


<p class="text-center mt-60">
    <a href="/Cars/All?page=@(ViewBag.CurrentPage - 1)@currentUserQuerie@currentSearchQuerie" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled": string.Empty)"> << Previous</a>
    <a href="/Cars/All?page=@(ViewBag.CurrentPage + 1)@currentUserQuerie@currentSearchQuerie" class="btn btn-primary @(Model.Count() < 5 ? "disabled": string.Empty)">Next >></a>
</p>
